* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face{
    font-family: "Karla";
    src: url("./fonts/Karla/static/Karla-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
